{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Games{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('game.create') }}">New</a>
    {% endif %}
{% endblock %}


{% block content %}
    {% for game in games %}
        <div class="games">
            <div>
                <h1><a href="{{ url_for('game.game_current', game_id=game['id']) }}">
                    {{ game['name'] }}</a></h1>
                <div class="game">Day {{ game['day'] }} created on {{ game['created'].strftime('%Y-%m-%d') }}</div>
            </div>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}